body{
    font-family: 'Space Mono', monospace;
    text-align: center;
    background-color: hsl(185, 41%, 84%);
}

.pc__side{
    width: 45%;
    background-color: hsl(183, 100%, 15%);
    margin: 40px 30px;
    border-radius: 15px;
    text-align: start;
    padding: 25px 30px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
